---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=500&card=tok_3jctvXvYQvzNZA&currency=usd&description=Account%20ID%3A%2013%20-%20Activity%20ID%3A%2023%20-%20Reg.%20ID%3A%20%20-%20User%20Email%3A%20austin%40yankees.com
    headers:
      Authorization:
      - Bearer BvLjMdZZM6zfLywM2rfILBsDkwE9bbEh
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_3jd0gjD3gc7Srx",
          "object": "charge",
          "created": 1395812332,
          "livemode": false,
          "paid": true,
          "amount": 500,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_3jctR3WjcjASHO",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 2,
            "exp_year": 2015,
            "fingerprint": "ZbG5LWIHClDuQZK9",
            "customer": null,
            "country": "US",
            "address_city": null,
            "cvc_check": "pass"
          },
          "captured": true,
          "balance_transaction": "txn_3jd0WuDQZ2bZDI",
          "failure_code": null,
          "description": "Account ID: 13 - Activity ID: 23 - Reg. ID:  - User Email: austin@yankees.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "fee": 45,
          "fee_details": [
            {
              "amount": 45,
              "currency": "usd",
              "type": "stripe_fee",
              "description": "Stripe processing fees",
              "application": null,
              "amount_refunded": 0
            }
          ],
          "disputed": false
        }
  recorded_at: Wed, 26 Mar 2014 05:38:52 GMT
recorded_with: VCR 2.8.0
