/* line 1, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
#outlook a {
  padding: 0;
}

/* line 5, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
body {
  width: 100% !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
}

/* line 13, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.ExternalClass {
  width: 100%;
}

/* line 22, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
  line-height: 100%;
}

/* line 26, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
#backgroundTable {
  margin: 0;
  padding: 0;
  width: 100% !important;
  line-height: 100% !important;
}

/* line 33, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  width: auto;
  max-width: 100%;
  float: left;
  clear: both;
  display: block;
}

/* line 44, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
center {
  width: 100%;
  min-width: 580px;
}

/* line 49, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
a img {
  border: none;
}

/* line 53, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
p {
  margin: 0 0 0 10px;
}

/* line 57, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 62, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td {
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-collapse: collapse !important;
}

/* line 70, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table, tr, td {
  padding: 0;
  vertical-align: top;
  text-align: left;
}

/* line 76, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
hr {
  color: #d9d9d9;
  background-color: #d9d9d9;
  height: 1px;
  border: none;
}

/* Responsive Grid */
/* line 85, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.body {
  height: 100%;
  width: 100%;
}

/* line 90, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.container {
  width: 580px;
  margin: 0 auto;
  text-align: inherit;
}

/* line 96, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.row {
  padding: 0px;
  width: 100%;
  position: relative;
}

/* line 102, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.container table.row {
  display: block;
}

/* line 106, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.wrapper {
  padding: 10px 20px 0px 0px;
  position: relative;
}

/* line 112, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.columns,
table.column {
  margin: 0 auto;
}

/* line 117, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.columns td,
table.column td {
  padding: 0px 0px 10px;
}

/* line 124, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.columns td.sub-columns,
table.column td.sub-columns,
table.columns td.sub-column,
table.column td.sub-column {
  padding-right: 3.448276%;
}

/* line 129, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.row td.last,
table.container td.last {
  padding-right: 0px;
}

/* line 133, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.one {
  width: 30px;
}

/* line 134, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.two {
  width: 80px;
}

/* line 135, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.three {
  width: 130px;
}

/* line 136, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.four {
  width: 180px;
}

/* line 137, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.five {
  width: 230px;
}

/* line 138, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.six {
  width: 280px;
}

/* line 139, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.seven {
  width: 330px;
}

/* line 140, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.eight {
  width: 380px;
}

/* line 141, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.nine {
  width: 430px;
}

/* line 142, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.ten {
  width: 480px;
}

/* line 143, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.eleven {
  width: 530px;
}

/* line 144, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.twelve {
  width: 580px;
}

/* line 146, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.one center {
  min-width: 30px;
}

/* line 147, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.two center {
  min-width: 80px;
}

/* line 148, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.three center {
  min-width: 130px;
}

/* line 149, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.four center {
  min-width: 180px;
}

/* line 150, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.five center {
  min-width: 230px;
}

/* line 151, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.six center {
  min-width: 280px;
}

/* line 152, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.seven center {
  min-width: 330px;
}

/* line 153, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.eight center {
  min-width: 380px;
}

/* line 154, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.nine center {
  min-width: 430px;
}

/* line 155, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.ten center {
  min-width: 480px;
}

/* line 156, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.eleven center {
  min-width: 530px;
}

/* line 157, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.twelve center {
  min-width: 580px;
}

/* line 159, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.one {
  width: 8.333333% !important;
}

/* line 160, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.two {
  width: 16.666666% !important;
}

/* line 161, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.three {
  width: 25% !important;
}

/* line 162, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.four {
  width: 33.333333% !important;
}

/* line 163, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.five {
  width: 41.666666% !important;
}

/* line 164, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.six {
  width: 50% !important;
}

/* line 165, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.seven {
  width: 58.333333% !important;
}

/* line 166, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.eight {
  width: 66.666666% !important;
}

/* line 167, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.nine {
  width: 75% !important;
}

/* line 168, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.ten {
  width: 83.333333% !important;
}

/* line 169, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.eleven {
  width: 91.666666% !important;
}

/* line 170, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.twelve {
  width: 100% !important;
}

/* line 172, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.offset-by-one {
  padding-left: 50px;
}

/* line 173, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.offset-by-two {
  padding-left: 100px;
}

/* line 174, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.offset-by-three {
  padding-left: 150px;
}

/* line 175, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.offset-by-four {
  padding-left: 200px;
}

/* line 176, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.offset-by-five {
  padding-left: 250px;
}

/* line 177, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.offset-by-six {
  padding-left: 300px;
}

/* line 178, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.offset-by-seven {
  padding-left: 350px;
}

/* line 179, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.offset-by-eight {
  padding-left: 400px;
}

/* line 180, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.offset-by-nine {
  padding-left: 450px;
}

/* line 181, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.offset-by-ten {
  padding-left: 500px;
}

/* line 182, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.offset-by-eleven {
  padding-left: 550px;
}

/* line 184, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.sub-offset-by-one {
  padding-left: 5.172413% !important;
}

/* line 185, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.sub-offset-by-two {
  padding-left: 13.793102% !important;
}

/* line 186, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.sub-offset-by-three {
  padding-left: 22.413791% !important;
}

/* line 187, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.sub-offset-by-four {
  padding-left: 31.034480% !important;
}

/* line 188, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.sub-offset-by-five {
  padding-left: 39.655169% !important;
}

/* line 189, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.sub-offset-by-six {
  padding-left: 48.275858% !important;
}

/* line 190, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.sub-offset-by-seven {
  padding-left: 56.896547% !important;
}

/* line 191, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.sub-offset-by-eight {
  padding-left: 65.517236% !important;
}

/* line 192, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.sub-offset-by-nine {
  padding-left: 74.137925% !important;
}

/* line 193, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.sub-offset-by-ten {
  padding-left: 82.758614% !important;
}

/* line 194, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.sub-offset-by-eleven {
  padding-left: 91.379303% !important;
}

/* line 196, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.expander {
  visibility: hidden;
  width: 0px;
  padding: 0 !important;
}

/* Block Grid */
/* line 204, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.block-grid {
  width: 100%;
  max-width: 580px;
}

/* line 209, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.block-grid td {
  display: inline-block;
  padding: 10px;
}

/* line 214, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.two-up td {
  width: 270px;
}

/* line 218, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.three-up td {
  width: 173px;
}

/* line 222, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.four-up td {
  width: 125px;
}

/* line 226, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.five-up td {
  width: 96px;
}

/* line 230, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.six-up td {
  width: 76px;
}

/* line 234, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.seven-up td {
  width: 62px;
}

/* line 238, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.eight-up td {
  width: 52px;
}

/* Alignment & Visibility Classes */
/* line 244, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.center, td.center {
  text-align: center;
}

/* line 253, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
h1.center,
h2.center,
h3.center,
h4.center,
h5.center,
h6.center {
  text-align: center;
}

/* line 257, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
span.center {
  display: block;
  width: 100%;
  text-align: center;
}

/* line 263, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
img.center {
  margin: 0 auto;
  float: none;
}

/* line 269, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.show-for-small,
.hide-for-desktop {
  display: none;
}

/* Typography */
/* line 275, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
body, h1, h2, h3, h4, h5, h6, p {
  color: #222222;
  display: block;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  padding: 0;
  margin: 0;
  text-align: left;
  line-height: 1.3;
}

/* line 286, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
h1, h2, h3, h4, h5, h6 {
  word-break: normal;
}

/* line 290, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
h1 {
  font-size: 59px;
}

/* line 291, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
h2 {
  font-size: 45px;
}

/* line 292, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
h3 {
  font-size: 37px;
}

/* line 293, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
h4 {
  font-size: 28px;
}

/* line 294, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
h5 {
  font-size: 23px;
}

/* line 295, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
h6 {
  font-size: 17px;
}

/* line 296, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
body, p {
  font-size: 14px;
  line-height: 19px;
}

/* line 298, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
p {
  padding-bottom: 10px;
}

/* line 302, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
small {
  font-size: 10px;
}

/* line 306, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
a {
  color: #2ba6cb;
  text-decoration: none;
}

/* line 311, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
a:hover {
  color: #2795b6 !important;
}

/* line 315, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
a:active {
  color: #2795b6 !important;
}

/* line 319, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
a:visited {
  color: #2ba6cb !important;
}

/* line 328, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #2ba6cb !important;
}

/* line 337, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
h1 a:active,
h2 a:active,
h3 a:active,
h4 a:active,
h5 a:active,
h6 a:active {
  color: #2ba6cb !important;
}

/* line 346, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
h1 a:visited,
h2 a:visited,
h3 a:visited,
h4 a:visited,
h5 a:visited,
h6 a:visited {
  color: #2ba6cb !important;
}

/* Panels */
/* line 352, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
td.panel {
  background: #f2f2f2;
  border: 1px solid #d9d9d9;
  padding: 10px !important;
}

/* Buttons */
/* line 364, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.button,
table.tiny-button,
table.small-button,
table.medium-button,
table.large-button {
  width: 100%;
  overflow: hidden;
}

/* line 373, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.button td,
table.tiny-button td,
table.small-button td,
table.medium-button td,
table.large-button td {
  display: block;
  width: auto !important;
  text-align: center;
  background: #2ba6cb;
  border: 1px solid #2284a1;
  color: #ffffff;
  padding: 8px 0;
}

/* line 383, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.tiny-button td {
  padding: 5px 0 4px;
}

/* line 387, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.small-button td {
  padding: 8px 0 7px;
}

/* line 391, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.medium-button td {
  padding: 12px 0 10px;
}

/* line 395, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.large-button td {
  padding: 21px 0 18px;
}

/* line 403, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.button td a,
table.tiny-button td a,
table.small-button td a,
table.medium-button td a,
table.large-button td a {
  font-weight: bold;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-size: 16px;
}

/* line 411, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.tiny-button td a {
  font-size: 12px;
  font-weight: normal;
}

/* line 416, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.small-button td a {
  font-size: 16px;
}

/* line 420, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.medium-button td a {
  font-size: 20px;
}

/* line 424, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.large-button td a {
  font-size: 24px;
}

/* line 430, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.button:hover td,
table.button:visited td,
table.button:active td {
  background: #2795b6 !important;
}

/* line 436, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.button:hover td a,
table.button:visited td a,
table.button:active td a {
  color: #fff !important;
}

/* line 444, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.button:hover td,
table.tiny-button:hover td,
table.small-button:hover td,
table.medium-button:hover td,
table.large-button:hover td {
  background: #2795b6 !important;
}

/* line 462, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.button:hover td a,
table.button:active td a,
table.button td a:visited,
table.tiny-button:hover td a,
table.tiny-button:active td a,
table.tiny-button td a:visited,
table.small-button:hover td a,
table.small-button:active td a,
table.small-button td a:visited,
table.medium-button:hover td a,
table.medium-button:active td a,
table.medium-button td a:visited,
table.large-button:hover td a,
table.large-button:active td a,
table.large-button td a:visited {
  color: #ffffff !important;
}

/* line 466, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.secondary td {
  background: #e9e9e9;
  border-color: #d0d0d0;
  color: #555;
}

/* line 472, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.secondary td a {
  color: #555;
}

/* line 476, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.secondary:hover td {
  background: #d0d0d0 !important;
  color: #555;
}

/* line 483, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.secondary:hover td a,
table.secondary td a:visited,
table.secondary:active td a {
  color: #555 !important;
}

/* line 487, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.success td {
  background: #5da423;
  border-color: #457a1a;
}

/* line 492, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.success:hover td {
  background: #457a1a !important;
}

/* line 496, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.alert td {
  background: #c60f13;
  border-color: #970b0e;
}

/* line 501, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.alert:hover td {
  background: #970b0e !important;
}

/* line 505, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.radius td {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 511, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
table.round td {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}

/* line 521, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.button table,
.tiny-button table,
.small-button table,
.medium-button table,
.large-button table {
  width: 100%;
  overflow: hidden;
}

/* line 530, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.button table td,
.tiny-button table td,
.small-button table td,
.medium-button table td,
.large-button table td {
  display: block;
  width: auto !important;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  background: #2ba6cb;
  border: 1px solid #2284a1;
}

/* line 542, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.tiny-button table td {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: normal;
}

/* line 549, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.button table td,
.small-button table td {
  padding: 8px 15px;
  font-size: 16px;
}

/* line 554, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.medium-button table td {
  padding: 12px 24px;
  font-size: 20px;
}

/* line 559, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.large-button table td {
  padding: 21px 30px;
  font-size: 24px;
}

/* line 568, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.button:hover table td,
.tiny-button:hover table td,
.small-button:hover table td,
.medium-button:hover table td,
.large-button:hover table td {
  background: #2795b6 !important;
}

/* line 591, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.button,
.button:hover,
.button:active,
.button:visited,
.tiny-button,
.tiny-button:hover,
.tiny-button:active,
.tiny-button:visited,
.small-button,
.small-button:hover,
.small-button:active,
.small-button:visited,
.medium-button,
.medium-button:hover,
.medium-button:active,
.medium-button:visited,
.large-button,
.large-button:hover,
.large-button:active,
.large-button:visited {
  color: #ffffff !important;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
}

/* line 597, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.secondary table td {
  background: #e9e9e9;
  border-color: #d0d0d0;
}

/* line 602, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.secondary:hover table td {
  background: #d0d0d0 !important;
}

/* line 606, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.success table td {
  background: #5da423;
  border-color: #457a1a;
}

/* line 611, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.success:hover table td {
  background: #457a1a !important;
}

/* line 615, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.alert table td {
  background: #c60f13;
  border-color: #970b0e;
}

/* line 620, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.alert:hover table td {
  background: #970b0e !important;
}

/* line 624, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.radius table td {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 630, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
.round table td {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}

/* Outlook First */
/* line 638, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
body.outlook img {
  width: auto !important;
  max-width: none !important;
}

/*  Media Queries */
@media only screen and (max-width: 600px) {
  /* line 647, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
  table[class="body"] img {
    width: auto !important;
    height: auto !important;
  }

  /* line 652, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
  table[class="body"] .container {
    width: 95% !important;
  }

  /* line 656, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
  table[class="body"] .row {
    width: 100% !important;
    display: block !important;
  }

  /* line 661, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
  table[class="body"] .wrapper {
    display: block !important;
    padding-right: 0 !important;
  }

  /* line 667, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
  table[class="body"] .columns,
  table[class="body"] .column {
    table-layout: fixed !important;
    float: none !important;
    width: 100% !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    display: block !important;
  }

  /* line 677, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
  table[class="body"] .wrapper.first .columns,
  table[class="body"] .wrapper.first .column {
    display: table !important;
  }

  /* line 682, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
  table[class="body"] table.columns td,
  table[class="body"] table.column td {
    width: 100%;
  }

  /* line 696, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
  table[class="body"] td.offset-by-one,
  table[class="body"] td.offset-by-two,
  table[class="body"] td.offset-by-three,
  table[class="body"] td.offset-by-four,
  table[class="body"] td.offset-by-five,
  table[class="body"] td.offset-by-six,
  table[class="body"] td.offset-by-seven,
  table[class="body"] td.offset-by-eight,
  table[class="body"] td.offset-by-nine,
  table[class="body"] td.offset-by-ten,
  table[class="body"] td.offset-by-eleven {
    padding-left: 0 !important;
  }

  /* line 700, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
  table[class="body"] .expander {
    width: 9999px !important;
  }

  /* line 704, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
  table[class="body"] center {
    min-width: 0 !important;
  }

  /* line 709, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
  table[class="body"] .hide-for-small,
  table[class="body"] .show-for-desktop {
    display: none !important;
  }

  /* line 714, /usr/src/app/lib/assets/stylesheets/ink.css.scss */
  table[class="body"] .show-for-small,
  table[class="body"] .hide-for-desktop {
    display: inherit !important;
  }
}
